.notification {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.notificationTitle {
    display: flex;
    flex-direction: row;
    /*height: 24px;*/
    gap: 306px;
}

.notificationTitle p {
    font-family: 'Pretendard', sans-serif;
    font-size: 20px;
    letter-spacing: -1px;
    color: #444444;
    margin: 50px 0;
}

.notiKeywords {
    width: 800px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #997BEB;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}

.notiKeywordsTitle {
    width: 190px;
    height: 50px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 9px;
    border: 1px solid #997BEB;
    background-color: #997BEB;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notiKeywordsTitle p {
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
}

.notiKeywordsAdd {
    all: unset;
    width: 25px;
    height: 25px;
    background-color: #997BEB;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    line-height: 50%;
    text-align: center;
    position: relative;
    left: 71%;
}

.notiWrap {
    width: 800px;
    border: 1px solid #997BEB;
    border-radius: 10px;
    min-height: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}

.notiLine {
    width: 789px;
    border: 0 solid RGBA(153, 123, 235, 0.2);
}

.notiCont {
    width: 789px;
    height: 100px;
    color: #444444;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid RGBA(153, 123, 235, 0.2);
}

.notiCont img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.notiCont p {
    margin: 30px 30px;
    font-size: 15px;
    letter-spacing: -1px;
}

.notiCont span {
    margin: auto 10px;
    font-size: 18px;
    letter-spacing: -1px;
}

.notiCont button {
    all: unset;
    color: #9D9D9D;
    cursor: pointer;
}