@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #FFFDFA;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Pretendard', sans-serif;
  color: #444;
}

#root {
  width: 100%;
  margin: 0 auto;
}

button:focus {
  outline: none;
}

ul>li {
  list-style: none;
}