.adminCatePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.searchButton img {
    width: 18px;
    height: 18px;
    transform: translateX(-30px);
}
